@* This helper repository cannot be detected if it is placed outside App_Code Folder *@
@* Lower Case hELPER below *@
@* Functions can be defined as below *@

@helper DeclarativeHelperDemo()
{    
    <p>Declarative Helper Demo from <code>App_Code</code> folder</p>
}


